<div
  class="bg-[#fff] rounded-lg shadow-md w-full p-4 flex flex-col h-full gap-5 overflow-auto"
>
  <div class="flex justify-between items-center flex-col md:flex-row">
    <h1 class="text-lg font-bold">Products</h1>
    <app-button
      [text]="'Add Product'"
      [size]="'default'"
      [ghost]="true"
      (click)="showModal()"
    ></app-button>
    <app-modal
      [isVisible]="modalVisible"
      [customFooter]="true"
      class="absolute"
      (handleCancel)="closeModal()"
    >
      <ng-container customTitle>
        <h1 class="text-lg font-bold">Add Product</h1>
      </ng-container>
      <ng-container customContent>
        <app-product-form></app-product-form>
      </ng-container>
    </app-modal>
  </div>
  <app-products-table
    [products]="datas"
    [isLoading]="loading"
    [totalProducts]="datas.length"
  ></app-products-table>
</div>
