<div class="bg-[#fff] rounded-lg shadow-md w-full p-4 flex flex-col gap-5">
  <div class="flex justify-between items-center">
    <h1 class="text-lg font-bold">Products</h1>
    <app-button
      [text]="'Add Product'"
      [size]="'default'"
      [ghost]="true"
    ></app-button>
    <app-modal [isVisible]="true" [customFooter]="true">
      <ng-container customTitle>
        <h1 class="text-lg font-bold">Add Product</h1>
      </ng-container>
      <ng-container customContent> asdasda </ng-container>
      <ng-container customFooter>
        <button nz-button nzType="default">Cancel</button>
        <button nz-button nzType="primary">Save</button>
      </ng-container>
    </app-modal>
  </div>

  <app-products-table
    [products]="datas"
    [isLoading]="loading"
    [totalProducts]="datas.length"
  ></app-products-table>
</div>
