<nz-layout class="min-h-screen">
  <nz-sider
    nzCollapsible
    nzBreakpoint="lg"
    [nzCollapsedWidth]="0"
    [nzTheme]="'light'"
    class="bg-[#fff] shadow-lg z-10"
  >
    <div class="h-[32px] m-4 flex items-center justify-center">
      <img
        src="https://ng.ant.design/assets/img/logo.svg"
        alt="logo"
        class="h-full"
      />
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item *ngFor="let item of navItems" nzMatchRouter>
        <span nz-icon [nzType]="item.icon"></span>
        <a [routerLink]="item.link" class="ml-2">{{ item.name }}</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="bg-[#fff] px-4">
      <app-header></app-header>
    </nz-header>
    <nz-content style="margin: 24px 16px 0">
      <div class="p-6 bg-[#fff] rounded-lg shadow-md min-h-[750px]">
        <h1 class="text-3xl font-bold text-center">Dashboard Home</h1>
        <p class="text-center">Welcome to the dashboard home page</p>
      </div>
    </nz-content>
    <nz-footer class="text-center"
      >Ant Design ©2020 Implement By Angular</nz-footer
    >
  </nz-layout>
</nz-layout>
