<div class="flex gap-2">
  <p>
    {{ currentCurrency }}
  </p>

  <span
    nz-icon
    nz-dropdown
    nzType="money-collect"
    nzTheme="outline"
    [nzDropdownMenu]="balanceMenu"
    [nzPlacement]="'bottomRight'"
    class="text-[28px] text-gray-500 mt-1 hover:text-gray-700 cursor-pointer ease-in-out duration-200"
  ></span>
  <nz-dropdown-menu #balanceMenu="nzDropdownMenu">
    <ul
      nz-menu
      class="p-2 bg-white rounded-md shadow-lg border border-gray-200"
    >
      <li
        nz-menu-item
        class="hover:bg-gray-100 rounded-md"
        (click)="currencyChange('EUR')"
      >
        <span class="text-gray-700 cursor-pointer">💶 EUR</span>
      </li>
      <li
        nz-menu-item
        class="hover:bg-gray-100 rounded-md"
        (click)="currencyChange('USD')"
      >
        <span class="text-gray-700 cursor-pointer">💵 USD</span>
      </li>
      <li
        nz-menu-item
        class="hover:bg-gray-100 rounded-md"
        (click)="currencyChange('GBP')"
      >
        <span class="text-gray-700 cursor-pointer">💷 GBP</span>
      </li>
      <li
        nz-menu-item
        class="hover:bg-gray-100 rounded-md"
        (click)="currencyChange('TRY')"
      >
        <span class="text-gray-700 cursor-pointer">&#8378; TRY</span>
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
