<nz-table
  #productsTable
  [nzData]="displayData"
  [nzLoading]="isLoading"
  [nzPageSize]="5"
  [nzTotal]="totalProducts"
  class="w-full overflow-auto"
  nzTableLayout="auto"
>
  <thead>
    <tr>
      <ng-container *ngFor="let column of listOfColumms">
        <th
          *ngIf="column.name !== 'Product\'s Name'; else elseBlock"
          [nzSortFn]="$any(column.sortFn)"
          [nzSortOrder]="$any(column.sortOrder)"
          [nzSortDirections]="$any(column.sortDirections)"
          [nzFilters]="$any(column.listOfFilter)"
          [nzFilterFn]="$any(column.filterFn)"
        >
          {{ column.name }}
        </th>
        <ng-template #elseBlock>
          <th nzCustomFilter>
            {{ column.name }}
            <nz-filter-trigger
              [(nzVisible)]="nameFilter"
              [nzDropdownMenu]="menu"
            >
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
          </th>
        </ng-template>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of productsTable.data">
      <td class="cursor-pointer">
        <img
          nz-image
          [nzSrc]="data.imageUrl"
          alt="product"
          width="200px"
          height="200px"
          class="w-20 h-20 object-cover rounded-md hover:scale-105 ease-in duration-300 hover:shadow-lg"
        />
      </td>
      <td>{{ data.name }}</td>
      <td>{{ +data.price | customCurrency : currency }}</td>
      <td>{{ data.amount }}</td>
      <td>{{ data.category }}</td>
      <td>
        <div class="w-full flex items-center gap-2">
          <app-button
            [text]="'View'"
            [size]="'default'"
            (onClick)="onViewProduct(data._id)"
          >
            <span nz-icon nzType="eye" icon></span>
          </app-button>
          <app-button
            [text]="'Edit'"
            [size]="'default'"
            [ghost]="true"
            (onClick)="onEditProduct(data)"
          >
            <span nz-icon nzType="edit" icon></span>
          </app-button>
          <app-pop-confirm-delete
            [title]="'Are you sure you want to delete this product?'"
            (confirm)="onDeleteProduct(data._id)"
            [placement]="'topLeft'"
          >
            <app-button
              [text]="'Delete'"
              [size]="'default'"
              [loading]="deleteButtonLoading"
              [danger]="true"
              [ghost]="true"
            >
              <span nz-icon nzType="delete" icon></span>
            </app-button>
          </app-pop-confirm-delete>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <app-table-search
    (search)="onFilterByName($event)"
    (reset)="onResetFilter($event)"
  ></app-table-search>
</nz-dropdown-menu>

<app-drawer
  [visible]="editDrawerVisible"
  [title]="'Product Details'"
  [placement]="'right'"
  (close)="editDrawerVisible = false"
>
  <ng-container drawerContent *ngIf="editDrawerData">
    <app-product-form [product]="editDrawerData"></app-product-form>
  </ng-container>
</app-drawer>
