<nz-table
  #orderTable
  [nzData]="displayData"
  [nzLoading]="loading"
  [nzPageSize]="7"
  [nzTotal]="orders.length"
  class="w-full overflow-auto"
>
  <thead>
    <tr>
      <th nzCustomFilter>
        Order ID
        <nz-filter-trigger [(nzVisible)]="idFilter" [nzDropdownMenu]="menu">
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th nzCustomFilter>
        Order Owner
        <nz-filter-trigger
          [(nzVisible)]="orderOwnerFilter"
          [nzDropdownMenu]="orderOwnerMenu"
        >
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>

      <th *ngFor="let column of listOfColumms">
        {{ column.name }}
      </th>
    </tr>

    <tr></tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of orderTable.data">
      <td class="cursor-pointer text-blue-500">{{ data._id }}</td>
      <td class="cursor-pointer text-blue-500">{{ data.orderOwner }}</td>
      <td>{{ data.adress }}</td>
      <td class="text-green-500">{{ data.totalPrice }}</td>
      <td>
        <app-custom-badge
          [status]="
            data.status === 'Completed'
              ? 'green'
              : data.status === 'Preparing'
              ? 'blue'
              : 'bg-red-500'
          "
        >
          <span>{{ data.status }}</span>
        </app-custom-badge>
      </td>

      <td>{{ data.phone }}</td>
      <td>{{ data.orderCategory }}</td>

      <td>{{ data.createdAt }}</td>
      <td class="flex gap-2">
        <app-button [text]="'View'" [size]="'default'"></app-button>
        <app-button
          [text]="'Edit'"
          [size]="'default'"
          [ghost]="true"
        ></app-button>
        <app-button
          [text]="'Delete'"
          [size]="'default'"
          [ghost]="true"
          [danger]="true"
        ></app-button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <app-table-search
    (search)="onFilterById($event)"
    (reset)="onResetFilter()"
  ></app-table-search>
</nz-dropdown-menu>
<nz-dropdown-menu #orderOwnerMenu="nzDropdownMenu">
  <app-table-search
    (search)="onFilterByOwner($event)"
    (reset)="onResetFilter()"
  ></app-table-search>
</nz-dropdown-menu>
