<nz-table
  #orderTable
  [nzData]="displayData"
  [nzLoading]="loading"
  [nzPageSize]="7"
  [nzTotal]="orders.length"
  class="w-full overflow-auto"
>
  <thead>
    <tr>
      <th nzCustomFilter>
        Order ID
        <nz-filter-trigger [nzDropdownMenu]="menu">
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th nzCustomFilter>
        Order Owner
        <nz-filter-trigger [nzDropdownMenu]="orderOwnerMenu">
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>

      <th
        *ngFor="let column of listOfColumms"
        [nzSortFn]="$any(column.sortFn)"
        [nzSortOrder]="$any(column.sortOrder)"
        [nzSortDirections]="$any(column.sortDirections)"
        [nzFilters]="$any(column.listOfFilter)"
        [nzFilterFn]="$any(column.filterFn)"
      >
        {{ column.name }}
      </th>
    </tr>

    <tr></tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of orderTable.data">
      <td class="cursor-pointer text-blue-500">{{ data._id }}</td>
      <td class="cursor-pointer text-blue-500">{{ data.orderOwner }}</td>
      <td>{{ data.adress }}</td>
      <td class="text-green-500">
        {{ data.totalPrice | customCurrency : curency }}
      </td>
      <td>
        <app-custom-badge
          [status]="
            data.status === 'Completed'
              ? 'green'
              : data.status === 'Preparing'
              ? 'blue'
              : 'bg-red-500'
          "
        >
          <span>{{ data.status }}</span>
        </app-custom-badge>
      </td>
      <td>{{ data.phone }}</td>
      <td>{{ data.orderCategory }}</td>
      <td>{{ data.createdAt }}</td>
      <td>
        <div class="w-full flex items-center gap-2">
          <app-button
            [text]="'View'"
            [size]="'default'"
            (onClick)="openViewModal(data)"
          >
            <span nz-icon nzType="eye"></span>
          </app-button>
          <app-button [text]="'Edit'" [size]="'default'" [ghost]="true">
            <span nz-icon nzType="edit"></span>
          </app-button>
          <app-button
            [text]="'Delete'"
            [size]="'default'"
            [ghost]="true"
            [danger]="true"
          >
            <span nz-icon nzType="delete"></span>
          </app-button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <app-table-search
    (search)="onFilterById($event)"
    (reset)="onResetFilter()"
  ></app-table-search>
</nz-dropdown-menu>
<nz-dropdown-menu #orderOwnerMenu="nzDropdownMenu">
  <app-table-search
    (search)="onFilterByOwner($event)"
    (reset)="onResetFilter()"
  ></app-table-search>
</nz-dropdown-menu>

<app-modal
  [isVisible]="viewModal"
  (handleCancel)="viewModal = false"
  *ngIf="viewModal && selectedOrder"
>
  <ng-container customTitle>
    <span>Order Details</span>
  </ng-container>
  <ng-container customContent>
    <app-order-view-modal
      [selectedOrder]="selectedOrder"
    ></app-order-view-modal>
  </ng-container>
</app-modal>

<app-drawer> </app-drawer>
