<div
  class="relative border-dashed border-2 border-gray-300 rounded-lg p-8 flex justify-center items-center"
>
  <input
    type="file"
    (change)="handleImageUpload($event)"
    id="imageInput"
    multiple
  />
  <label for="imageInput" class="cursor-pointer" *ngIf="imageList.length === 0">
    <span class="text-indigo-500 font-semibold">Choose a file</span>
  </label>
  <div
    class="flex w-full gap-2 justify-center items-center"
    *ngIf="imageList.length > 0"
  >
    <img
      *ngFor="let image of imageList"
      [src]="image.fileUrl"
      alt="product image"
      class="w-20 object-cover rounded-lg"
    />
  </div>
</div>
